<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Datengrundlage" data-toc-modified-id="Datengrundlage-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Datengrundlage</a></span></li><li><span><a href="#datetime-Objekte" data-toc-modified-id="datetime-Objekte-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>datetime Objekte</a></span></li><li><span><a href="#Einlesen-der-Zeitreihe" data-toc-modified-id="Einlesen-der-Zeitreihe-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Einlesen der Zeitreihe</a></span></li><li><span><a href="#Datentyp-für-die-Datumsangaben-korrigieren" data-toc-modified-id="Datentyp-für-die-Datumsangaben-korrigieren-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Datentyp für die Datumsangaben korrigieren</a></span></li><li><span><a href="#Date-als-Index-setzen" data-toc-modified-id="Date-als-Index-setzen-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Date als Index setzen</a></span></li><li><span><a href="#Hinzufügen-weiterer-Spalten" data-toc-modified-id="Hinzufügen-weiterer-Spalten-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Hinzufügen weiterer Spalten</a></span></li><li><span><a href="#Zeitbasierte-Indizierung-mittels-Pandas" data-toc-modified-id="Zeitbasierte-Indizierung-mittels-Pandas-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Zeitbasierte Indizierung mittels Pandas</a></span></li></ul></div>

# Datengrundlage

Die folgenden Zeitreihendaten stammen von der "Open Power Systems Data" Initiative:

https://open-power-system-data.org/

Die eigentlichen Daten, mit denen wir arbeiten wollen, können hier runtergeladen werden (es sind bereits vorverarbeitete Daten):

https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

Code zum Vorverarbeitungsprojekt kann hier eingesehen werden:

https://github.com/jenfly/opsd

# datetime Objekte

Um Datums/Zeitangaben zu repräsentieren gibt es das Paket `datetime` in der Standardbibliothek. Wir schauen uns das mal kurz vorab an:

Erstmal machen wir aus einer Zeichenkette ein DateTime Objekt:

In [1]:
import pandas as pd
t = pd.to_datetime('2019-09-15 10:52pm')

In [2]:
t

Timestamp('2019-09-15 22:52:00')

Wir sehen, dass wir als Ergebnis ein Timestamp Objekt erhalten.

In [3]:
type(t)

pandas._libs.tslib.Timestamp

Wir können auch bei der Zeichenkette die Zeitangabe weglassen. Was aber macht Pandas dann daraus?

In [4]:
pd.to_datetime('1/2/1976')

Timestamp('1976-01-02 00:00:00')

Pandas geht dann davon aus, dass die 1. Zahl in der Zeichenkette der Monat ist und nicht der Tag.

Wir können Pandas aber auch mitteilen, dass wir es umgekehrt haben wollen:

In [5]:
pd.to_datetime('1/2/1976', dayfirst=True)

Timestamp('1976-02-01 00:00:00')

Jetzt ist es nicht mehr der 2. Januar, sondern der 01. Februar 1976.

# Einlesen der Zeitreihe

In [6]:
d = pd.read_csv('opsd_germany_daily.csv')

In [7]:
d.shape

(4383, 5)

In JupyterLab können wir auch über einen Doppelklick auf die .csv Datei eine Ansicht der Daten in Tabellenform erhalten. Das ist ein kleiner Vorteil von "jupyter lab" gegenüber "jupyter notebook".

Schauen wir uns mal die ersten 4 Zeilen an:

In [8]:
d.head(4)

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN

Und jetzt die letzten 4 Zeilen:

In [9]:
d.tail(4)

            Date  Consumption     Wind   Solar  Wind+Solar
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

Wir sehen schon: wir müssen uns darauf einstellen, dass nicht alle Zellen Daten enthalten!

In den ersten Zeilen der Tabelle scheint es noch keine Angaben zur Energieproduktion durch Windkraft- bzw. Solaranlagen zu geben.

# Datentyp für die Datumsangaben korrigieren

Was für Datentypen nimmt Pandas eigentlich, um die Einträge in den einzelnen Spalten zu speichern?

In [10]:
d.dtypes

Date            object
Consumption    float64
Wind           float64
Solar          float64
Wind+Solar     float64
dtype: object

Ups! Pandas erkennt das Datum noch nicht in der "Date" Spalte. Es repräsentiert die Datumsangaben einfach als Zeichenketten/Strings (verwirrend ist, dass das in Pandas "object" heißt).

Wir nutzen jetzt die `to_datetime()` Funktion von Pandas um in einem Rutsch die ganze Spalte "Date", die noch als Zeichenketten erkannt werden, in Datumsobjekte umzuwandeln.

In [11]:
d["Date"] = pd.to_datetime(d["Date"])

In [12]:
d.dtypes

Date           datetime64[ns]
Consumption           float64
Wind                  float64
Solar                 float64
Wind+Solar            float64
dtype: object

Juhu! Jetzt erkennt Pandas, dass es sich in der Spalte "Date" auch um Datumsangaben handelt und "denkt" nicht, dass es einfach nur so Zeichenketten sind.

# Date als Index setzen

Bisher sind die Zeilen in der Tabelle einfach nur so durchnummeriert von 1-4383. Das ist aktuelle Index der Daten.

Aber wir wollen jetzt als Indizierung der Daten die Datumsangabe nehmen, denn wir wollen nicht z.B. später sagen:

    "Gib uns doch mal die 42. Angabe des Energieverbrauchs"
    
sondern

    "Gib uns doch mal den Energieverbrauch vom Datum=2006-02-11".

In [13]:
d = d.set_index("Date")

In [14]:
d

            Consumption     Wind   Solar  Wind+Solar
Date
2006-01-01   1069.18400      NaN     NaN         NaN
2006-01-02   1380.52100      NaN     NaN         NaN
2006-01-03   1442.53300      NaN     NaN         NaN
2006-01-04   1457.21700      NaN     NaN         NaN
2006-01-05   1477.13100      NaN     NaN         NaN
2006-01-06   1403.42700      NaN     NaN         NaN
2006-01-07   1300.28700      NaN     NaN         NaN
2006-01-08   1207.98500      NaN     NaN         NaN
2006-01-09   1529.32300      NaN     NaN         NaN
2006-01-10   1576.91100      NaN     NaN         NaN
2006-01-11   1577.17600      NaN     NaN         NaN
2006-01-12   1553.28000      NaN     NaN         NaN
2006-01-13   1545.00200      NaN     NaN         NaN
2006-01-14   1359.94500      NaN     NaN         NaN
2006-01-15   1265.47500      NaN     NaN         NaN
2006-01-16   1563.73800      NaN     NaN         NaN
2006-01-17   1598.30300      NaN     NaN         NaN
2006-01-18   1572.98400      NaN     NaN         NaN
2006-01-19   1558.29000      NaN     NaN         NaN
2006-01-20   1540.60400      NaN     NaN         NaN
2006-01-21   1348.18800      NaN     NaN         NaN
2006-01-22   1248.11100      NaN     NaN         NaN
2006-01-23   1569.69100      NaN     NaN         NaN
2006-01-24   1603.25200      NaN     NaN         NaN
2006-01-25   1613.31200      NaN     NaN         NaN
2006-01-26   1601.67300      NaN     NaN         NaN
2006-01-27   1586.06500      NaN     NaN         NaN
2006-01-28   1373.03000      NaN     NaN         NaN
2006-01-29   1252.21500      NaN     NaN         NaN
2006-01-30   1554.72200      NaN     NaN         NaN
...                 ...      ...     ...         ...
2017-12-02   1391.85405  126.274  16.459     142.733
2017-12-03   1330.26226  387.490  12.411     399.901
2017-12-04   1620.97758  479.798  10.747     490.545
2017-12-05   1643.72307  611.488  10.953     622.441
2017-12-06   1639.08265  632.501   7.618     640.119
2017-12-07   1628.47979  743.725  42.994     786.719
2017-12-08   1618.05658  652.830  20.504     673.334
2017-12-09   1415.34531  712.317  12.344     724.661
2017-12-10   1318.10964  622.944   9.922     632.866
2017-12-11   1614.15862  415.109   5.669     420.778
2017-12-12   1647.36346  590.101  13.250     603.351
2017-12-13   1651.90418  721.540  36.880     758.420
2017-12-14   1636.54375  666.438  21.030     687.468
2017-12-15   1576.93197  176.418  21.653     198.071
2017-12-16   1382.87708  277.391  15.904     293.295
2017-12-17   1297.21916  250.726  12.620     263.346
2017-12-18   1578.69079  134.843  15.897     150.740
2017-12-19   1586.48230   99.098   8.793     107.891
2017-12-20   1559.68569   90.880   8.799      99.679
2017-12-21   1520.37206  259.039   7.313     266.352
2017-12-22   1423.23782  228.773  10.065     238.838
2017-12-23   1272.17085  748.074   8.450     756.524
2017-12-24   1141.75730  812.422   9.949     822.371
2017-12-25   1111.28338  587.810  15.765     603.575
2017-12-26   1130.11683  717.453  30.923     748.376
2017-12-27   1263.94091  394.507  16.530     411.037
2017-12-28   1299.86398  506.424  14.162     520.586
2017-12-29   1295.08753  584.277  29.854     614.131
2017-12-30   1215.44897  721.247   7.467     728.714
2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 4 columns]

Wir können den Index uns auch explizit holen:

In [15]:
d.index

DatetimeIndex(['2006-01-01', '2006-01-02', '2006-01-03', '2006-01-04',
               '2006-01-05', '2006-01-06', '2006-01-07', '2006-01-08',
               '2006-01-09', '2006-01-10',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', name='Date', length=4383, freq=None)

# Hinzufügen weiterer Spalten

In [16]:
d["Wochentag"] = d.index.weekday_name

In [17]:
d

            Consumption     Wind   Solar  Wind+Solar  Wochentag
Date
2006-01-01   1069.18400      NaN     NaN         NaN     Sunday
2006-01-02   1380.52100      NaN     NaN         NaN     Monday
2006-01-03   1442.53300      NaN     NaN         NaN    Tuesday
2006-01-04   1457.21700      NaN     NaN         NaN  Wednesday
2006-01-05   1477.13100      NaN     NaN         NaN   Thursday
2006-01-06   1403.42700      NaN     NaN         NaN     Friday
2006-01-07   1300.28700      NaN     NaN         NaN   Saturday
2006-01-08   1207.98500      NaN     NaN         NaN     Sunday
2006-01-09   1529.32300      NaN     NaN         NaN     Monday
2006-01-10   1576.91100      NaN     NaN         NaN    Tuesday
2006-01-11   1577.17600      NaN     NaN         NaN  Wednesday
2006-01-12   1553.28000      NaN     NaN         NaN   Thursday
2006-01-13   1545.00200      NaN     NaN         NaN     Friday
2006-01-14   1359.94500      NaN     NaN         NaN   Saturday
2006-01-15   1265.47500      NaN     NaN         NaN     Sunday
2006-01-16   1563.73800      NaN     NaN         NaN     Monday
2006-01-17   1598.30300      NaN     NaN         NaN    Tuesday
2006-01-18   1572.98400      NaN     NaN         NaN  Wednesday
2006-01-19   1558.29000      NaN     NaN         NaN   Thursday
2006-01-20   1540.60400      NaN     NaN         NaN     Friday
2006-01-21   1348.18800      NaN     NaN         NaN   Saturday
2006-01-22   1248.11100      NaN     NaN         NaN     Sunday
2006-01-23   1569.69100      NaN     NaN         NaN     Monday
2006-01-24   1603.25200      NaN     NaN         NaN    Tuesday
2006-01-25   1613.31200      NaN     NaN         NaN  Wednesday
2006-01-26   1601.67300      NaN     NaN         NaN   Thursday
2006-01-27   1586.06500      NaN     NaN         NaN     Friday
2006-01-28   1373.03000      NaN     NaN         NaN   Saturday
2006-01-29   1252.21500      NaN     NaN         NaN     Sunday
2006-01-30   1554.72200      NaN     NaN         NaN     Monday
...                 ...      ...     ...         ...        ...
2017-12-02   1391.85405  126.274  16.459     142.733   Saturday
2017-12-03   1330.26226  387.490  12.411     399.901     Sunday
2017-12-04   1620.97758  479.798  10.747     490.545     Monday
2017-12-05   1643.72307  611.488  10.953     622.441    Tuesday
2017-12-06   1639.08265  632.501   7.618     640.119  Wednesday
2017-12-07   1628.47979  743.725  42.994     786.719   Thursday
2017-12-08   1618.05658  652.830  20.504     673.334     Friday
2017-12-09   1415.34531  712.317  12.344     724.661   Saturday
2017-12-10   1318.10964  622.944   9.922     632.866     Sunday
2017-12-11   1614.15862  415.109   5.669     420.778     Monday
2017-12-12   1647.36346  590.101  13.250     603.351    Tuesday
2017-12-13   1651.90418  721.540  36.880     758.420  Wednesday
2017-12-14   1636.54375  666.438  21.030     687.468   Thursday
2017-12-15   1576.93197  176.418  21.653     198.071     Friday
2017-12-16   1382.87708  277.391  15.904     293.295   Saturday
2017-12-17   1297.21916  250.726  12.620     263.346     Sunday
2017-12-18   1578.69079  134.843  15.897     150.740     Monday
2017-12-19   1586.48230   99.098   8.793     107.891    Tuesday
2017-12-20   1559.68569   90.880   8.799      99.679  Wednesday
2017-12-21   1520.37206  259.039   7.313     266.352   Thursday
2017-12-22   1423.23782  228.773  10.065     238.838     Friday
2017-12-23   1272.17085  748.074   8.450     756.524   Saturday
2017-12-24   1141.75730  812.422   9.949     822.371     Sunday
2017-12-25   1111.28338  587.810  15.765     603.575     Monday
2017-12-26   1130.11683  717.453  30.923     748.376    Tuesday
2017-12-27   1263.94091  394.507  16.530     411.037  Wednesday
2017-12-28   1299.86398  506.424  14.162     520.586   Thursday
2017-12-29   1295.08753  584.277  29.854     614.131     Friday
2017-12-30   1215.44897  721.247   7.467     728.714   Saturday
2017-12-31   1107.11488  721.176  19.980     741.156     Sunday

[4383 rows x 5 columns]

In [18]:
d["Jahr"] = d.index.year
d["Monat"] = d.index.month

In [19]:
d

            Consumption     Wind   Solar  Wind+Solar  Wochentag  Jahr  Monat
Date
2006-01-01   1069.18400      NaN     NaN         NaN     Sunday  2006      1
2006-01-02   1380.52100      NaN     NaN         NaN     Monday  2006      1
2006-01-03   1442.53300      NaN     NaN         NaN    Tuesday  2006      1
2006-01-04   1457.21700      NaN     NaN         NaN  Wednesday  2006      1
2006-01-05   1477.13100      NaN     NaN         NaN   Thursday  2006      1
2006-01-06   1403.42700      NaN     NaN         NaN     Friday  2006      1
2006-01-07   1300.28700      NaN     NaN         NaN   Saturday  2006      1
2006-01-08   1207.98500      NaN     NaN         NaN     Sunday  2006      1
2006-01-09   1529.32300      NaN     NaN         NaN     Monday  2006      1
2006-01-10   1576.91100      NaN     NaN         NaN    Tuesday  2006      1
2006-01-11   1577.17600      NaN     NaN         NaN  Wednesday  2006      1
2006-01-12   1553.28000      NaN     NaN         NaN   Thursday  2006      1
2006-01-13   1545.00200      NaN     NaN         NaN     Friday  2006      1
2006-01-14   1359.94500      NaN     NaN         NaN   Saturday  2006      1
2006-01-15   1265.47500      NaN     NaN         NaN     Sunday  2006      1
2006-01-16   1563.73800      NaN     NaN         NaN     Monday  2006      1
2006-01-17   1598.30300      NaN     NaN         NaN    Tuesday  2006      1
2006-01-18   1572.98400      NaN     NaN         NaN  Wednesday  2006      1
2006-01-19   1558.29000      NaN     NaN         NaN   Thursday  2006      1
2006-01-20   1540.60400      NaN     NaN         NaN     Friday  2006      1
2006-01-21   1348.18800      NaN     NaN         NaN   Saturday  2006      1
2006-01-22   1248.11100      NaN     NaN         NaN     Sunday  2006      1
2006-01-23   1569.69100      NaN     NaN         NaN     Monday  2006      1
2006-01-24   1603.25200      NaN     NaN         NaN    Tuesday  2006      1
2006-01-25   1613.31200      NaN     NaN         NaN  Wednesday  2006      1
2006-01-26   1601.67300      NaN     NaN         NaN   Thursday  2006      1
2006-01-27   1586.06500      NaN     NaN         NaN     Friday  2006      1
2006-01-28   1373.03000      NaN     NaN         NaN   Saturday  2006      1
2006-01-29   1252.21500      NaN     NaN         NaN     Sunday  2006      1
2006-01-30   1554.72200      NaN     NaN         NaN     Monday  2006      1
...                 ...      ...     ...         ...        ...   ...    ...
2017-12-02   1391.85405  126.274  16.459     142.733   Saturday  2017     12
2017-12-03   1330.26226  387.490  12.411     399.901     Sunday  2017     12
2017-12-04   1620.97758  479.798  10.747     490.545     Monday  2017     12
2017-12-05   1643.72307  611.488  10.953     622.441    Tuesday  2017     12
2017-12-06   1639.08265  632.501   7.618     640.119  Wednesday  2017     12
2017-12-07   1628.47979  743.725  42.994     786.719   Thursday  2017     12
2017-12-08   1618.05658  652.830  20.504     673.334     Friday  2017     12
2017-12-09   1415.34531  712.317  12.344     724.661   Saturday  2017     12
2017-12-10   1318.10964  622.944   9.922     632.866     Sunday  2017     12
2017-12-11   1614.15862  415.109   5.669     420.778     Monday  2017     12
2017-12-12   1647.36346  590.101  13.250     603.351    Tuesday  2017     12
2017-12-13   1651.90418  721.540  36.880     758.420  Wednesday  2017     12
2017-12-14   1636.54375  666.438  21.030     687.468   Thursday  2017     12
2017-12-15   1576.93197  176.418  21.653     198.071     Friday  2017     12
2017-12-16   1382.87708  277.391  15.904     293.295   Saturday  2017     12
2017-12-17   1297.21916  250.726  12.620     263.346     Sunday  2017     12
2017-12-18   1578.69079  134.843  15.897     150.740     Monday  2017     12
2017-12-19   1586.48230   99.098   8.793     107.891    Tuesday  2017     12
2017-12-20   1559.68569   90.880   8.799      99.679  Wednesday  2017     12
2017-12-21   1520.37206  259.039   7.313     266.352   Thursday  2017     12
2017-12-22   1423.23782  228.773  10.065     238.838     Friday  2017     12
2017-12-23   1272.17085  748.074   8.450     756.524   Saturday  2017     12
2017-12-24   1141.75730  812.422   9.949     822.371     Sunday  2017     12
2017-12-25   1111.28338  587.810  15.765     603.575     Monday  2017     12
2017-12-26   1130.11683  717.453  30.923     748.376    Tuesday  2017     12
2017-12-27   1263.94091  394.507  16.530     411.037  Wednesday  2017     12
2017-12-28   1299.86398  506.424  14.162     520.586   Thursday  2017     12
2017-12-29   1295.08753  584.277  29.854     614.131     Friday  2017     12
2017-12-30   1215.44897  721.247   7.467     728.714   Saturday  2017     12
2017-12-31   1107.11488  721.176  19.980     741.156     Sunday  2017     12

[4383 rows x 7 columns]

Quiz: Erzeugen Sie eine Wochenendespalte!

In [37]:
mask1 = d["Wochentag"] == "Saturday"
mask2 = d["Wochentag"] == "Sunday"


d["Wochenende"] = (mask1 or mask2).any()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [29]:
d

,Consumption,Wind,Solar,Wind+Solar,Wochentag,Jahr,Monat,Wochenende
Date,,,,,,,,
2006-01-01,1069.18400,NaN,NaN,NaN,Sunday,2006,1,True
2006-01-02,1380.52100,NaN,NaN,NaN,Monday,2006,1,True
2006-01-03,1442.53300,NaN,NaN,NaN,Tuesday,2006,1,True
2006-01-04,1457.21700,NaN,NaN,NaN,Wednesday,2006,1,True
2006-01-05,1477.13100,NaN,NaN,NaN,Thursday,2006,1,True
2006-01-06,1403.42700,NaN,NaN,NaN,Friday,2006,1,True
2006-01-07,1300.28700,NaN,NaN,NaN,Saturday,2006,1,True
2006-01-08,1207.98500,NaN,NaN,NaN,Sunday,2006,1,True
2006-01-09,1529.32300,NaN,NaN,NaN,Monday,2006,1,True
2006-01-10,1576.91100,NaN,NaN,NaN,Tuesday,2006,1,True
2006-01-11,1577.17600,NaN,NaN,NaN,Wednesday,2006,1,True
2006-01-12,1553.28000,NaN,NaN,NaN,Thursday,2006,1,True
2006-01-13,1545.00200,NaN,NaN,NaN,Friday,2006,1,True
2006-01-14,1359.94500,NaN,NaN,NaN,Saturday,2006,1,True
2006-01-15,1265.47500,NaN,NaN,NaN,Sunday,2006,1,True
2006-01-16,1563.73800,NaN,NaN,NaN,Monday,2006,1,True
2006-01-17,1598.30300,NaN,NaN,NaN,Tuesday,2006,1,True
2006-01-18,1572.98400,NaN,NaN,NaN,Wednesday,2006,1,True
2006-01-19,1558.29000,NaN,NaN,NaN,Thursday,2006,1,True
2006-01-20,1540.60400,NaN,NaN,NaN,Friday,2006,1,True
2006-01-21,1348.18800,NaN,NaN,NaN,Saturday,2006,1,True
2006-01-22,1248.11100,NaN,NaN,NaN,Sunday,2006,1,True
2006-01-23,1569.69100,NaN,NaN,NaN,Monday,2006,1,True
2006-01-24,1603.25200,NaN,NaN,NaN,Tuesday,2006,1,True
2006-01-25,1613.31200,NaN,NaN,NaN,Wednesday,2006,1,True
2006-01-26,1601.67300,NaN,NaN,NaN,Thursday,2006,1,True
2006-01-27,1586.06500,NaN,NaN,NaN,Friday,2006,1,True
2006-01-28,1373.03000,NaN,NaN,NaN,Saturday,2006,1,True
2006-01-29,1252.21500,NaN,NaN,NaN,Sunday,2006,1,True
2006-01-30,1554.72200,NaN,NaN,NaN,Monday,2006,1,True
...,...,...,...,...,...,...,...,...
2017-12-02,1391.85405,126.274,16.459,142.733,Saturday,2017,12,True
2017-12-03,1330.26226,387.490,12.411,399.901,Sunday,2017,12,True
2017-12-04,1620.97758,479.798,10.747,490.545,Monday,2017,12,True
2017-12-05,1643.72307,611.488,10.953,622.441,Tuesday,2017,12,True
2017-12-06,1639.08265,632.501,7.618,640.119,Wednesday,2017,12,True
2017-12-07,1628.47979,743.725,42.994,786.719,Thursday,2017,12,True
2017-12-08,1618.05658,652.830,20.504,673.334,Friday,2017,12,True
2017-12-09,1415.34531,712.317,12.344,724.661,Saturday,2017,12,True
2017-12-10,1318.10964,622.944,9.922,632.866,Sunday,2017,12,True
2017-12-11,1614.15862,415.109,5.669,420.778,Monday,2017,12,True
2017-12-12,1647.36346,590.101,13.250,603.351,Tuesday,2017,12,True
2017-12-13,1651.90418,721.540,36.880,758.420,Wednesday,2017,12,True
2017-12-14,1636.54375,666.438,21.030,687.468,Thursday,2017,12,True
2017-12-15,1576.93197,176.418,21.653,198.071,Friday,2017,12,True
2017-12-16,1382.87708,277.391,15.904,293.295,Saturday,2017,12,True
2017-12-17,1297.21916,250.726,12.620,263.346,Sunday,2017,12,True
2017-12-18,1578.69079,134.843,15.897,150.740,Monday,2017,12,True
2017-12-19,1586.48230,99.098,8.793,107.891,Tuesday,2017,12,True
2017-12-20,1559.68569,90.880,8.799,99.679,Wednesday,2017,12,True
2017-12-21,1520.37206,259.039,7.313,266.352,Thursday,2017,12,True
2017-12-22,1423.23782,228.773,10.065,238.838,Friday,2017,12,True
2017-12-23,1272.17085,748.074,8.450,756.524,Saturday,2017,12,True
2017-12-24,1141.75730,812.422,9.949,822.371,Sunday,2017,12,True
2017-12-25,1111.28338,587.810,15.765,603.575,Monday,2017,12,True
2017-12-26,1130.11683,717.453,30.923,748.376,Tuesday,2017,12,True
2017-12-27,1263.94091,394.507,16.530,411.037,Wednesday,2017,12,True
2017-12-28,1299.86398,506.424,14.162,520.586,Thursday,2017,12,True
2017-12-29,1295.08753,584.277,29.854,614.131,Friday,2017,12,True
2017-12-30,1215.44897,721.247,7.467,728.714,Saturday,2017,12,True
2017-12-31,1107.11488,721.176,19.980,741.156,Sunday,2017,12,True

# Zeitbasierte Indizierung mittels Pandas